.idea
*.db
*.db-journal
*.pub
*.priv
*.log
cli/trycli/trycli
client/client
command/tmp
dao/tmp
generate/command/command/command
generate/command/modificationTime/modificationTime
generate/dao/dao/dao
generate/dao/modificationTime/modificationTime
generate/util/util
major/inputScript
major/major
portal/portal
processor/processor
temp
