.idea
*.db
*.db-journal
*.pub
*.priv
*.log
cli/trycli/trycli
client/client
client/*.txt
command/tmp
dao/tmp
generate/command/command/command
generate/command/modificationTime/modificationTime
generate/command/unmarshalledState/unmarshalledState
generate/dao/dao/dao
generate/dao/modificationTime/modificationTime
generate/model/model
generate/util/util
major/inputScript
major/major
model/tmp
portal/portal
portal/*.txt
portal/documents
processor/processor
temp
util/tmp
