.idea
*.db
cli/trycli/trycli
client/client
client/client.log
client/client-events.log
command/tmp
generate/command/command
generate/dao
generate/ref.db
generate/util/util
major/inputScript
major/major
major/major.log
major/major-events.log
processor/processor
temp
