.journal {
    padding-top: 8px;
    padding-bottom: 8px;
}

.editors {
    padding-left: 20px;
}

.authors {
    padding-left: 20px;
}

.success {
    color: green
}

.error {
    color: red
}

a.muted {
    color: gray;
}

td {
    vertical-align: top;
}
